asgiref==3.8.1
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
Django==5.0.6
django-mathfilters==1.0.0
gunicorn==22.0.0
idna==3.7
isodate==0.6.1
lxml==5.2.2
packaging==24.0
platformdirs==4.2.2
pytz==2024.1
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
six==1.16.0
sqlparse==0.5.0
studentvue==2.0.5
urllib3==2.2.1
whitenoise==6.6.0
xmljson==0.2.1
zeep==4.2.1
python-dotenv~=1.0.1